main {
    /*padding-top: 10px;*/
    /*padding-bottom: 60px;*/
}

.omada-highlight {
    color: #27aae1;
    font-weight: 700;
}

.carousel {
    /*margin-top: 20px;*/
    margin: 30px 0px;
    border-radius: 14px;
    /*overflow: hidden;*/
    /*max-height: 50vh;*/
    /*background-color: #58595b;*/
    background-color: rgb(88, 89, 91);
    border: 2px solid white;
    padding: 0;
    /*width: 50vw;*/
}

.carousel-inner {
    /*max-height: 50vh;*/
    /*min-width: 50vw;*/
    /*height: 500px;*/
    padding: 25px 0px 150px 0;


}

.carousel-item img {
    /*height: 100vh;*/
    /*width: auto;*/
    /*min-height: 500px;*/
    object-fit: cover;
    height: 50vh;
    width: 75%;
    /*width: 500px;*/
    filter: drop-shadow(0px 0px 10px #f0f0f0);
    /*height: auto;*/
}

.carousel-caption {
    background-color: rgba(33, 37, 41, 0.7);
    width: 100%;
    text-align: center;
    /*bottom: 40px;*/
    left: 0%;
    right: 0%;
    bottom: 0%;

    /*text-shadow: 4px 4px 30px #21252966;*/
}

.carousel-caption h2 {
    margin-bottom: 0;
}

.carousel-caption p {
    margin-bottom: 20px;
}

/*#dose-carousel*/
/*{*/
/*    float: left;*/
/*}*/

/*#berkzip-carousel*/
/*{*/
/*    float: right;*/
/*}*/

@media screen and (max-width: 720px)
{
    .carousel-caption {
        height: 100px !important;
    }
    .carousel-caption h2 {
        font-size: 20px !important;
    }
    .carousel-caption p {
        font-size: 10px !important;
    }
}

